Assignment-2

Q1. How do you comment code in Python? What are the different types of comments?

Ans- (1) Single line comments

In [30]:
# Hello , create a variable
name = 'Mohd Osama'

# print this value
print(name)

Mohd Osama

(2)Multi-line comment

In [31]:
'''this is a list
for those who failed
in exam since two years
'''

'this is a list\nfor those who failed\nin exam since two years\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans-

variables are used to put and refer the data.Variable take a value and we can give it a name to access that value in program.here's some example:

In [32]:
my_message = "Hello, Osama"

right hand side which is assign the value,variable on the left hand side

reassigning different value

In [33]:
my_message = "Hello, Osama"

In [34]:
my_message = "Hello, everyone"

Q3. How do you convert one data type to another in Python?

Ans-

some example for coverting data types to another:

(1)str to Floating point conversion

In [35]:
n_string = "22.2"
n_string = float(n_string)

In [36]:
n_string

22.2

In [37]:
type(n_string)

float

(2)String Int conversion

In [38]:
n_str = "9889"
n_str = int(n_str)

In [39]:
n_str

9889

In [40]:
type(n_str)

int

(3)Int to String conversion

In [41]:
n_int = 78
n_int = str(n_int)

In [42]:
n_int

'78'

In [43]:
type(n_int)

str

(4)dict to list conversion

In [44]:
my_dict = {1,2,4}
my_dict = list(my_dict)

In [45]:
my_dict

[1, 2, 4]

Q4.How do you write and execute a Python script from the command line?

Ans-

Create a new file with a .py extension, e.g., script.py.
Open the file in a text editor and write your Python code.
Save the file.
Open the command line interface.
Navigate to the directory where the Python script is saved.
Run the script by typing python script.py and press Enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

Ans-

In [47]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]

In [46]:
type(my_dict)

list

In [48]:
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans-

in mathematics complex number 
example -
a+bi 
a and b = Real number
i is imaginary number

In pyhon-
a+bj, where a represent real, b represent imaginary part,
the specific using the symbol 'j' or 'J'in imaginary part.
ex-

In [49]:
y = 3+4j

you can access the real and imaginary part of complex by the use of 'real' and 'imag'

In [50]:
y.real

3.0

In [51]:
y.imag

4.0

In [52]:
l =3+6j
l1 = 4+6j

In [53]:
# addition
my_add=l+l1
print(my_add)

(7+12j)

In [54]:
# multiplication
my_multi=l*l1
print(my_multi)

(-24+42j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Ans-

Using assignment operator '='

In [56]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Ans-

In [57]:
price = 99.9

In [58]:
type(price)

float

this variable belongs to float data type

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Ans-

In [60]:
name = "Mohd Osama"

In [61]:
print(name)

Mohd Osama

Q10. Given the string "Hello, World!", extract the substring "World".

Ans-

In [65]:
string ="hello , world"
substring=string[8:15]

In [66]:
print(substring)

world

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Ans-

In [ ]:
# if you are a student
is_student=True
# if you are not student
is_student=False

In [2]:
is_student = input("Are you currently a student? ")

if is_student == 'Yes':
    print("You are currently a student")
else:
    print("You are not currently a student")

Are you currently a student?  yes

You are not currently a student